.Rproj.user
.Rhistory
.RData
.Ruserdata
exercises-solutions/solutions_methylation1_intro-to-linear-regression.html
exercises-solutions/solutions_methylation1_intro-to-linear-regression.Rmd
exercises-solutions/solutions_methylation2_multiple-linear-regression.html
exercises-solutions/solutions_methylation2_multiple-linear-regression.Rmd
exercises-solutions/solutions_methylation3_penalized-regression.html
exercises-solutions/solutions_methylation3_penalized-regression.Rmd
